.page-link-product {
  display: inline-block;
  color: #000000;
  font-size: 20px;
  text-decoration: none;
}

.page-link-product::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #916019;
  transition: width .3s;
}

.page-link-product:hover::after, .page-link-product:focus::after {
  width: 100%;
  color: #916019;
}
